* {
	box-sizing: border-box;
}
html,
body {
	//the below one is required for rtl ticker
	direction: rtl;

	//below ones are for demo purpose
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
#__next {
	flex: 0 0 auto;
	margin-top: 40px;
	padding: 10px;
	display: flex;
	width: 100%;
	justify-content: center;
	max-width: 1400px;
}
